<form class="{{cssClass}} pf1-sheet flexcol" autocomplete="off">

  <!-- HEADER -->
  <header class="sheet-header">
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}"/>
    </h1>
  </header>

  <!-- BODY -->
  <section class="sheet-body tab">
    <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    <div class="tab biography">
      {{editor biographyHTML target="system.details.biography.value" button=true editable=editable engine="prosemirror" collaborate=false}}
    </div>
  </section>
</form>
