<form autocomplete="off">
  <h2>{{localize "PF1.CreateItemForSpell" 0=name}}</h2>

  {{!-- Spell Level --}}
  <div class="form-group">
    <label>{{localize "PF1.SpellLevel"}}</label>
    <div class="form-fields">
      <input type="number" data-dtype="Number" min="0" step="1" name="sl" value="{{sl}}" placeholder="1" />
    </div>
  </div>

  {{!-- Caster Level --}}
  <div class="form-group">
    <label>{{localize "PF1.CasterLevel"}}</label>
    <div class="form-fields">
      <input type="number" data-dtype="Number" min="1" step="1" name="cl" value="{{cl}}" placeholder="1" />
    </div>
  </div>
</form>
